<section class="main">
  <input class="toggle-all" type="checkbox"/>
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    {{#each todos.models}}
    <li class="{{if attributes.completed 'completed'}} {{if attributes.editing 'editing'}}">
      <div class="view" ondblclick={{call ../toggleEditing this}}>
        <input 
          class="toggle" 
          type="checkbox" 
          {{if attributes.completed checked=true}}
          onclick={{call ../toggleCompleted this}} />
        <label>{{attributes.title}}</label>
        <button class="destroy" onclick={{call ../removeTodo this}}></button>
      </div>
      <input 
        class="edit" 
        value={{attributes.title}} 
        data-order={{attributes.order}}
        onkeypress={{call ../onKeyPress this}} 
        onkeydown={{call ../onKeyDown this}} />
    </li>
    {{/each}}
  </ul>
</section>