<footer class="footer">
  <span class="todo-count"><strong>{{pending.length}}</strong> item left</span>
  <ul class="filters">
    <li>
      <a {{if allVisible class="selected"}} href="#/">All</a>
    </li>
    <li>
      <a {{if onlyActive class="selected"}} href="#/active">Active</a>
    </li>
    <li>
      <a {{if onlyCompleted class="selected"}} href="#/completed">Completed</a>
    </li>
  </ul>
  {{#if completed.length}}
  <button class="clear-completed" onclick={{clearCompleted}}>
    Clear completed
  </button>
  {{/if}}
</footer>