<section class="main">
  <input 
    class="toggle-all" 
    type="checkbox" 
    onclick={{onToggleAll}}
    checked={{allCompleted}}
    />
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    {{#each todos.models}}
    <li class="{{if completed 'completed'}} {{if editing 'editing'}}">
      <div class="view" ondblclick={{call ../toggleEditing this}}>
        <input 
          class="toggle" 
          type="checkbox" 
          checked={{completed}}
          onclick={{call ../toggleCompleted this}}
          />
        <label>{{title}}</label>
        <button class="destroy" onclick={{call ../removeTodo this}}></button>
      </div>
      <input 
        class="edit {{if editing 'on'}}"
        value={{title}}
        onkeypress={{call ../onKeyPress this}} 
        onkeydown={{call ../onKeyDown   this}}
        onblur={{call ../toggleEditing  this}}
        />
    </li>
    {{/each}}
  </ul>
</section>